.navbar {
  height: 100px;
  background-color: black;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.maincontent {

   height: 200px;
  background-color: blue;
  color: whitesmoke;
  margin-bottom: 30px;
  text-align: center;
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}


